$bg-color: #000;
$font-color:rgb(247, 243, 243);
$primary-color:#008ed6;
$dark-overlay: rgba(0,0,0,0.1);
$font-size: 30px;
$font-family: 'artdeco';


@font-face {
  font-family: 'artdeco';
  // src: url('../fonts/kingthings_trypewriter_2-webfont.woff2') format('woff2'),
  //      url('../fonts/kingthings_trypewriter_2-webfont.woff') format('woff');
  src: url('../fonts/ironick-normal.regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}



html, body{
 background: $bg-color;
  color:$font-color;
  font-family: $font-family;
  overflow-x: hidden;
  max-width: 1080px;
  margin: 0 auto;
  font-size: .9rem;
  
 

}

.title {
  font-size: 4rem;
}

.navbar {
  font-size: 1.6em;
  background-color: rgba(0,0,0,0.3);
  
  navbar-dark, navbar-nav {
    font-size: 1.1em;
    color:#fff;
  }
  

}

.navbar-brand {
  font-size: 2rem;
}

#home-section{
  background-image:url('../img/razor.jpg');
  background-size: cover;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  text-align: center;
  letter-spacing: 3px;
  


  .dark-overlay{
    background-color: $dark-overlay;
    position: absolute;
    top:0;
    bottom:0;
    width: 100%;
    max-width: 1080px;
    max-height: 100vh;
    
    
  }
  .home-inner{
    padding-top:150px;
   
    .address{
      margin-top: 20vh;

    }
    .btn{
      opacity: 0.8;
      font-size: 2.3rem;
    }
    
  }
  .address-box{
    padding-bottom:25px;
    
  }
}

.card-one {
  background-image: url('../img/paper_3.png');
 
}



.emerge-quote{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  color: $bg-color;
  box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.3);
  
}

.fa{
  color:$primary-color;
  background:#fff;
  padding: 4px;
  border-radius: 5px;
  font-size:$font-size;
}
.carousel-item{
  height:400px;
}

.carousel-image-1{
  background:url('../img/cut1.jpg');
  background-size: cover;
  background-position: center;
}
.carousel-image-2{
  background:url('../img/cut2.jpg');
  background-size: cover;
  background-position: center;
}
.carousel-image-3{
  background:url('../img/cut3.jpg');
  background-size: cover;
  background-position: center;
}
.carousel-image-4{
  background:url('../img/cut4.jpg');
  background-size: cover;
  background-position: center;
}

#hero-title{
  min-width: 300px;
}

#menu-head-section{
  background-image: url('../img/paper_3.png');
  color: rgba(41, 39, 39, 0.86);
}

.menu-list{
  padding-top:10px;
  padding-left:10vw;
  
   li{
     list-style: none;
     font-size: 2rem;
   }
}


#about-img{

    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.5);
  
}

#quote-1{
  position: relative;
  min-height: 450px;
  background:url('../img/toolsnapa.jpg');
  background-repeat: no-repeat;
  background-position: 50% 70%;
  text-align: center;
  color:#fff;
   
}

.quote1-text{
  margin-top:10%;
}

.dark-overlay-tools{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top:0;
  bottom:0;
  width:100%;
  max-height: 450px;
}

#about-head-section{
  background-image: url('../img/paper_3.png');
  color: rgba(41, 39, 39, 0.86);
}

#quote2-heading{
  position: relative;
  min-height: 500px;
  background:url('../img/chair.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  color:#fff;
  

}

.dark-overlay-quote2{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top:0;
  bottom:0;
  width:100%;
  min-height: 500px;
}

.quote2-text{
  margin-top:10%;
}

#quote3{
  position: relative;
  min-height: 600px;
  background:url('../img/oldbarb.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color:#fff;
}

.dark-overlay-quote3{
  background-color: $dark-overlay;
  position: absolute;
  top:0;
  bottom:0;
  width:100%;
  min-height: 600px;
}

#location-head-section{
  background-image: url('../img/paper_3.png');
  color: rgba(41, 39, 39, 0.86);
}

#main-footer {
  background-color: #000;
}



