$bg-color: #333;
$font-color:#D6CFCF;
$primary-color:#008ed6;
$dark-overlay: rgba(0,0,0,0.5);
$font-size: 30px;
$font-family: 'typewriter';


@font-face {
  font-family: 'typewriter';
  src: url('../fonts/kingthings_trypewriter_2-webfont.woff2') format('woff2'),
       url('../fonts/kingthings_trypewriter_2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  background: $bg-color;
  color:$font-color;
  font-family: $font-family
}

.navbar{
  opacity:0.8;
}

#home-section{
  background-image:url('../img/razor.jpg');
  background-size: cover;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 700px;


  .dark-overlay{
    background-color: $dark-overlay;
    position: absolute;
    top:0;
    bottom:0;
    width:100%;
    min-height: 700px;
  }
  .home-inner{
    padding-top:150px;
    .address{
      margin-top: 25vh;
    }
    .btn{
      opacity: 0.8;
      font-size:1.5em;
    }
    
  }
  .card-form{
    opacity:0.8;
  }
  .fa{
    color:$primary-color;
    background:#fff;
    padding: 4px;
    border-radius: 5px;
    font-size:$font-size;
  }
}

#hero-title{
  min-width: 300px;
}

#menu-head-section{
  background-image: url('../img/paper_3.png');
  color: rgba(41, 39, 39, 0.86);
}

.menu-list li{
  list-style: none;
}

.bio{
  font-family: 'Times New Roman', Times, serif;
}

.img-fluid{
  border-radius:6px;
  
}